@model IEnumerable<Restaurant_System.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2 class="fw-bold">Customers</h2>

        <p class="text-muted mb-0">
            Manage all restaurant customers.
        </p>
    </div>

    <a asp-action="Create" class="btn btn-primary">
        + Create Customer
    </a>

</div>
<div class="card shadow border-0">

    <div class="card-body">
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th class="text-end">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                <td class="text-end">

                    <a asp-action="Edit"
                       asp-route-id="@item.CustomerId"
                       class="btn btn-warning btn-sm">

                        Edit

                    </a>

                    <a asp-action="Details"
                       asp-route-id="@item.CustomerId"
                       class="btn btn-info btn-sm">

                        Details

                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.CustomerId"
                       class="btn btn-danger btn-sm">

                        Delete

                    </a>

                </td>
        </tr>
}
    </tbody>
</table>
    </div>

</div>
