@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<RestaurantManagementSystem.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow-lg border-0 mb-4">

    <div class="card-body d-flex justify-content-between align-items-center">

        <div>

            <h2 class="fw-bold mb-1">

                <i class="bi bi-person-badge-fill text-primary"></i>

                Employees

            </h2>

            <p class="text-muted mb-0">

                Manage restaurant employees.

            </p>

        </div>

        <a asp-action="Create"
           class="btn btn-primary btn-lg">

            <i class="bi bi-plus-circle"></i>

            Add Employee

        </a>

    </div>

</div>
<partial name="_Alerts" />
<div class="card shadow border-0">

    <div class="card-body">
        <form asp-action="Index" method="get" class="row g-3 align-items-end mb-4">

            <div class="col-md-4">

                <input type="text"
                       name="searchString"
                       value="@ViewBag.SearchString"
                       class="form-control"
                       placeholder="🔍 Search Employee..." />

            </div>

            <div class="col-md-auto d-flex gap-2">

                <button class="btn btn-primary px-4">
                    Search
                </button>

                <a asp-action="Index"
                   class="btn btn-outline-secondary px-4">
                    Reset
                </a>

            </div>

        </form>
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>

                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-searchString="@ViewBag.SearchString"
                           class="text-decoration-none text-light">

                            Employee Name

                        </a>

                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Hire Date
                    </th>
                    <th>
                       Salary
                    </th>
                    <th>
                        Job Title
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Role
                    </th>
                    <th class="text-center" style="width:180px;">
                        <i class="bi bi-gear-fill me-1"></i>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HireDate)
                        </td>
                        <td>
                            @item.Salary.ToString("N0") EGP
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td class="text-center">

                            <a asp-action="Edit"
                               asp-route-id="@item.EmployeeId"
                               class="btn btn-warning btn-sm rounded-pill me-2">

                                <i class="bi bi-pencil-square"></i>

                            </a>

                            <a asp-action="Details"
                               asp-route-id="@item.EmployeeId"
                               class="btn btn-info btn-sm rounded-pill me-2 text-white">

                                <i class="bi bi-eye"></i>

                            </a>

                            <a asp-action="Delete"
                               asp-route-id="@item.EmployeeId"
                               class="btn btn-danger btn-sm rounded-pill">

                                <i class="bi bi-trash"></i>

                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">

            @Html.PagedListPager(
            Model,
            page => Url.Action("Index", new
            {
                page,
                searchString = ViewBag.SearchString
            }))

        </div>
    </div>
</div>